DB_HOST=db_host
DB_PORT=db_port
DB_USER=db_user
DB_PASSWORD=db_password
DB_NAME=db_Name

NODE_ENV=development
JWT_SECRET=cambia_esto_por_un_secreto_largo_y_aleatorio

FRONTEND_URL=http://localhost:5173